.detail{
    flex: 1;
    overflow: scroll;
}
.detail .user{
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #dddddd35;

    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.9rem; font-weight: 100;
        color: #d6d6d6e2;
    }
}
.detail .user img{
    width: 85px; height: 85px;
    border-radius: 50%;
    object-fit: cover;
}
.detail .info{
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail .info .option{

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 30px; height: 30px;
            background-color: rgba(103, 103, 104, 0.3);
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
        }

    } 
}
.detail .info .photos{
    display: flex; gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.detail .info .photos .photoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon{
        width: 30px; height: 30px;
        background-color: rgba(103, 103, 104, 0.3);
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
    }
}
.detail .info .photos .photoItem .photoDetail{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detail .info .photos .photoItem .photoDetail img{
    width: 40px; height: 40px;
    border-radius: 5px;
    object-fit: cover;
}
.detail .info .photos .photoItem .photoDetail span{
    font-size: 14px;
    color: lightgray;
    font-weight: 200;
}

/* --------- */
.detail .info button{
    padding: 12px;
    background-color: rgba(222, 10, 52, 0.473);
    color: #fff; cursor: pointer;
    border: none; border-radius: 5px;
}
.detail .info button:hover{
    background-color: rgba(215, 10, 51, 0.854);
    border-bottom: 2.1px solid #d0d0d096;
    box-shadow: inset 0px 4px 8px 4px rgba(122, 0, 0, 0.881);
    letter-spacing: -.15px;
}
.detail .info .logout{
   padding: 10px;
   background-color: #027d8356; 

   &:hover{
    background-color: #03979fe0;
    box-shadow:inset 0px 4px 8px 4px rgba(55, 75, 68, 0.8);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
   }
}
